<div class="bg-black relative w-full h-4/5 flex flex-col items-center justify-center border-t-2 border-yellow-400 ">
  <img class="absolute inset-0 w-full h-full object-cover z-0 flex start" src="./assets/bg-w footer.png" alt="">
  <div class="relative z-10 flex flex-col text-center  items-center gap-12 mt-10 mb-12 animate-on-scroll">
    <p class="text-yellow-400 font-sans font-extrabold 2xl:text-7xl xl:text-7xl md:6xl text-5xl">Planos</p>
    <p class="text-white font-sans font-semibold 2xl:text-2xl text-xl xl:text-2xl md:text-2xl 2xl:max-w-screen-xl md:max-w-screen-sm">
      Além de te ajudar a conquistar seu objetivo de emagrecimento ou hipertrofia, melhorar seu conficionamento e físico, para ter mais saúde, bem-estar e qualidade de vida, eu posso te acompanhar, pessoalmente nos treinos. </p>
  </div>
  <div class="relative z-20 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-14 mb-16">
    <!-- Pricing Card 1 -->
    <div class="bg-white rounded-lg overflow-hidden shadow-lg  transition-transform transform hover:scale-105 animate-on-scroll">
      <div class="p-1 bg-yellow-300">
      </div>
      <div class="p-8">
        <h2 class="text-3xl font-bold text-yellow-500 mb-4">Double Trainning</h2>
        <p class="text-gray-600 mb-6 max-w-64">Além de todos os beneficios, você será acompanhado presensialmente <strong class="text-yellow-500">2 vezes por semana</strong></p>
        <p class="text-base line-through font-bold text-gray-800 mb-1">R$1.200</p>
        <p class="text-4xl font-bold text-gray-800 mb-6">R$950</p>
        <ul class="text-sm text-gray-600 mb-6">
          <li class="mb-2 flex items-center">
            <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>
            Treino Personalizado
          </li>
          <li class="mb-2 flex items-center">
            <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>
            Acesso ao Aplicativo
          </li>
          <li class="flex items-center">
            <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>
            Exercícios com Vídeo Demonstrativos
          </li>
          <li class="flex items-center">
            <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>
            Suporte Eficiente via WhatsApp
          </li>
          <li class="flex items-center">
            <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>
            Treino Individualizado
          </li>
          <li class="flex items-center">
            <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>
            Acompanhamento nos Treinos
          </li>
        </ul>
      </div>
      <div class="p-4">
        <a href="https://api.whatsapp.com/send?phone=5591981570712&text=Ol%C3%A1,%20vim%20ser%20seu(a)%20aluno(a)%20no%20plano%20*Double%20Trainning*,%20que%20me%20interressei%20no%20seu%20site%20*Wesley%20Amaral*%20" target="_blank">
        <button
          class="w-full ease-out duration-400 bg-yellow-400 text-white rounded-full px-4 py-2 hover:bg-yellow-600 focus:outline-none focus:shadow-outline-blue active:bg-yellow-600" >
          Selecione o Plano
        </button>
        </a>
      </div>
    </div>

    <!-- Pricing Card 2 -->
    <div class="bg-white rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105 animate-on-scroll">
      <div class="p-1 bg-yellow-300">
      </div>
      <div class="p-8">
        <h2 class="text-3xl font-bold  text-yellow-500 mb-4">3 Não é demais!</h2>
        <p class="text-gray-600 mb-6 max-w-64">Além de todos os beneficios, você será acompanhado presensialmente <strong class="text-yellow-500">3 vezes por semana</strong></p>
        <p class="text-base line-through font-bold text-gray-800 mb-1">R$1.200</p>
        <p class="text-4xl font-bold text-gray-800 mb-6">R$950</p>
        <ul class="text-sm text-gray-600 mb-6">
          <li class="mb-2 flex items-center">
            <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>
            Treino Personalizado
          </li>
          <li class="mb-2 flex items-center">
            <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>
            Acesso ao Aplicativo
          </li>
          <li class="flex items-center">
            <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>
            Exercícios com Vídeo Demonstrativos
          </li>
          <li class="flex items-center">
            <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>
            Suporte Eficiente via WhatsApp
          </li>
          <li class="flex items-center">
            <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>
            Treino Individualizado
          </li>
          <li class="flex items-center">
            <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>
            Acompanhamento nos Treinos
          </li>
        </ul>
      </div>
      <div class="p-4">
        <a href="https://api.whatsapp.com/send?phone=5591981570712&text=Ol%C3%A1,%20vim%20ser%20seu(a)%20aluno(a)%20no%20plano%20*3%20N%C3%A3o%20%C3%A9%20demais!*,%20que%20me%20interressei%20no%20seu%20site%20*Wesley%20Amaral*%20" target="_blank"></a>
        <button
          class="w-full bg-yellow-400 text-white rounded-full px-4 py-2 hover:bg-yellow-600 focus:outline-none focus:shadow-outline-green active:bg-yellow-600">
          Selecione o Plano
        </button>
      </div>
    </div>

    <!-- Pricing Card 3 -->
    <div class="bg-white rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105 animate-on-scroll">
      <div class="p-1 bg-yellow-300">
      </div>
      <div class="p-8">
        <h2 class="text-3xl font-bold  text-yellow-500 mb-4">É Penta!</h2>
        <p class="text-gray-600 mb-6 max-w-64">Além de todos os beneficios, você será acompanhado presensialmente <strong class="text-yellow-500">5 vezes por semana</strong></p>
        <p class="text-base line-through font-bold text-gray-800 mb-1">R$1.200</p>
        <p class="text-4xl font-bold text-gray-800 mb-6">R$950</p>
        <ul class="text-sm text-gray-600 mb-6">
          <li class="mb-2 flex items-center">
            <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>
            Treino Personalizado
          </li>
          <li class="mb-2 flex items-center">
            <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>
            Acesso ao Aplicativo
          </li>
          <li class="flex items-center">
            <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>
            Exercícios com Vídeo Demonstrativos
          </li>
          <li class="flex items-center">
            <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>
            Suporte Eficiente via WhatsApp
          </li>
          <li class="flex items-center">
            <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>
            Treino Individualizado
          </li>
          <li class="flex items-center">
            <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>
            Acompanhamento nos Treinos
          </li>
        </ul>
      </div>
      <div class="p-4">
        <a href="https://api.whatsapp.com/send?phone=5591981570712&text=Ol%C3%A1,%20vim%20ser%20seu(a)%20aluno(a)%20no%20plano%20*%C3%89%20Penta!*,%20que%20me%20interressei%20no%20seu%20site%20*Wesley%20Amaral*%20" target="_blank">
          <button
            class="w-full bg-yellow-400 text-white rounded-full px-4 py-2 hover:bg-yellow-600 focus:outline-none focus:shadow-outline-purple active:bg-yellow-600">
            Selecione o Plano
          </button>
        </a>
      </div>
    </div>

  </div>
</div>
