<div class="bg-black relative w-full h-screen flex flex-col items-center justify-start gap-12 overflow-hidden border-b-2 border-yellow-400">
  <!-- Background Image -->
  <img class="absolute inset-0 w-full h-full object-cover z-0 flex start" src="./assets/bg-w (1).png" alt="">

  <!-- Logo -->
  <img class="relative z-10 w-2/3 md:w-1/3 mb-4 md:mb-8 animate__animated animate__fadeInDown" src="./assets/logo.png" alt="">

  <!-- Text -->
  <div class="relative z-20 gap-8 md:gap-16 text-center flex flex-col items-center">
    <p class="text-white font-sans mb-3 font-extrabold 2xl:text-4xl lg:text-4xl md:text-4xl text-4x1 animate__animated animate__fadeInUp">
      TRANSFORME SEU CORPO E AUMENTE SUA <br> CONFIANÇA
    </p>
    <p class="text-yellow-400 font-sans font-extrabold 2xl:text-7xl xl:text-7xl md:6xl text-5xl animate__animated animate__bounceIn">
      RESULTADOS VISÍVEIS EM POUCAS SEMANAS
    </p>
    <p class="text-gray-300 font-sans font-semibold text-xl md:text-2xl max-w-screen-lg w-4/5 animate__animated animate__fadeInUp">
      Com um treino personalizado e individualizado, acesso a um aplicativo com tudo que você precisa saber, suporte eficiente via whatsapp e exercícios com vídeos demonstrativos.
    </p>
  </div>
</div>
