<div class="bg-black grid justify-items-center w-full items-center animate-on-scroll">
  <div class="text-center mt-12 mb-28">
    <p class="text-white font-sans font-extrabold text-5xl">Benefícios que um treino personalizado pode oferecer</p>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12  ml-4 mr-4 mb-32">
    <div class="grid justify-items-center">
      <img class="w-1/5 object-cover" src="./assets/mudar-a-gestao.png" alt="">
      <h3 class="text-white text-center font-sans font-extrabold text-4xl ">Transformação Completa:</h3>
      <p class="text-white text-center font-sans min-w-6 text-2xl font-semibold">Você vai ver mudanças reais no seu corpo, não apenas na aparência, mas na força e na resistência.</p>
    </div>
    <div class="grid justify-items-center">
      <img class="w-1/5 object-cover" src="./assets/fortalecimento.png" alt="">
      <h3 class="text-white text-center font-sans font-extrabold text-4xl ">Aumento de Confiança:</h3>
      <p class="text-white text-center font-sans min-w-6 text-2xl font-semibold">Ao transformar seu corpo, você também vai transformar sua mente. A confiança que você ganhará afetará positivamente todas as áreas da sua vida.</p>
    </div>
    <div class="grid justify-items-center">
      <img class="w-1/5 object-cover" src="./assets/saude-mental.png" alt="">
      <h3 class="text-white text-center font-sans font-extrabold text-4xl ">Melhoria na Saúde Mental:</h3>
      <p class="text-white text-center font-sans min-w-6 text-2xl font-semibold">Com um corpo mais saudável, sua mente também se beneficiará. Menos ansiedade, mais foco e uma sensação geral de bem-estar.</p>
    </div>
    <!-- <div>
      <img class="w-2/5 object-cover" src="./assets/estrelas.png" alt="">
      <h3>titulo</h3>
      <p>texto</p>
    </div> -->
  </div>
</div>
